Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman

IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<DodoEngine/.*\.h>'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3

SortIncludes: true
IncludeIsMainRegex: '([-_](test|unittest))?$'

ColumnLimit: 100